body {
  padding: 0;
  margin: 0;
}

#itboat-fake-wrapper {
  width: 990px;
  margin: 0 auto;
  padding-top: 30px;
}

#category-index {
  .header {
    h1 {
      position: relative;
      z-index: 2;
      display: inline-block;
    }

    .links {
      position: absolute;
      margin: -16px 0 0 295px;
      width: 400px;
      text-align: center;
      z-index: 1;

      a {
        font-size: 11px;
        text-decoration: none;

        &:first-of-type {
          margin-right: 15px;
        }

        &:hover {
          color: #333;
        }
      }
    }

    .category-sponsor {
      position: absolute;
      left: 50%;
      margin: -40px 0 0 245px;
      z-index: 1;

      .banner {
        width: 250px;
        height: 60px;
        background: #fff;
        border: 1px solid #ccc;
      }

      .title {
        width: 100%;
        text-align: center;
        font-size: 11px;
        margin-top: 2px;
      }
    }
  } // .header

  #better-in-class {
    margin: 50px 0 0 -4500px;
    width: 10000px;
    background: #171717 url(/images/better-in-class-bg.jpg) no-repeat center center;
    box-shadow: inset #000 0 0 100px;
    margin-bottom: 50px;

    .content {
      margin-left: 4500px;
      width: 990px;

      .super-title {
        font: normal 16px 'InterstateCyr';
        text-transform: uppercase;
        color: #fff;
        margin: 0 auto !important;
        padding: 30px 0 0;
        width: 600px;
        text-align: center;
        text-shadow: #fff 0 0 1px;

        &:before,
        &:after {
          width: 90px;
          height: 5px;
          border-top: 1px solid #585858;
          margin: -10px 15px 0;
          display: inline-block;
          content: "";
        }
      }

      .teaser {
        width: 465px;
        height: 406px;
        background: rgba(0, 0, 0, 0.7);
        float: left;
        margin: 30px 10px 40px;
        box-shadow: #000 0 0 100px;

        &.first{
          margin-right: 30px;
        }

        .img {
          img {}
        }

        .additional {
          margin: 20px 35px 0;

          .add-to-comparison {
            color: #57addc;
            position: absolute;
            margin: 2px 0 0 260px;
            font-size: 11px;
            cursor: pointer;

            .icon {
              display: inline-block;
              position: absolute;
              font: bold 23px Arial, Helvetica, sans-serif;
              margin: -6px 0 0 0;
            }

            span {
              margin: 0 0 0 20px;
            }

            &:hover {
              color: #fff;
            }
          }

          .title {
            margin: 0 0 4px 0;

            a {
              font: bold 13px Arial, Helvetica, sans-serif;
              color: #fff;
              text-decoration: none;

              &:hover {
                color: #57addc;
              }
            }
          }

          .price {
            color: #c0bdbd;
            margin: 0 0 10px;

            span {
              &.prefix { font-size: 10px }
              &.int { font: italic 20px Georgia }
            }
          }

          .description {
            font: normal 13px/15px Arial, Helvetica, sans-serif;
            color: #ccc;
          }
        }
      }
    }
  } // #better-in-class

  #categories {
    width: 735px;
    margin-right: 10px;
    float: left;

    .category {
      // border: 1px solid red;
      padding-bottom: 20px;

      .title {
        width: 80px;
        font: normal 16px/20px 'InterstateCyr';
        color: #333;
        padding-bottom: 20px;
        margin-right: 30px;
        float: left;

        &:after {
          content: "";
          width: 73px;
          border-bottom: 1px solid #cfcfcf;
          display: block;
          margin-top: 10px;
        }

        span.second {
          color: #999;
        }
      }

      &.popular {
        .teaser {
          width: 200px;
          margin-right: 12px;

          &:nth-of-type(3n) {
            margin-right: 0;
          }

          .add-to-comparison {
            margin-left: 175px;
          }
        }
      }

      &.new {
        .teaser {
          width: 150px;
          margin-right: 8px;

          &:nth-of-type(4n) {
            margin-right: 0;
          }

          .add-to-comparison {
            margin-left: 125px;
          }
        }
      }

      &.rest {
        .teasers {
          border-bottom: none;
        }
        .teaser {
          width: 115px;
          margin-right: 11px;

          &:nth-of-type(5n) {
            margin-right: 0;
          }

          .add-to-comparison {
            margin-left: 95px;
          }
        }
      }

      .teasers {
        margin: 0 0 30px 110px;
        border-bottom: 1px solid #ccc;

        .teaser {
          float: left;
          margin-bottom: 30px;

          .img {
            overflow: hidden;
            margin: 0 0 10px 0;

            img {
              width: 100%;
            }
          }

          .add-to-comparison {
            position: absolute;

            &:hover {
              .tooltip {
                display: block;
              }
            }

            .tooltip {
              width: 90px;
              padding: 10px 5px;
              background: rgba(0, 0, 0, 0.7);
              position: absolute;
              font-size: 11px;
              border-radius: 5px;
              box-shadow: #666 0 0 10px;
              color: #ccc;
              z-index: 30;
              // display: none;

              .arrow {
                position: absolute;
                color: rgba(0, 0, 0, 0.6);
                text-shadow: #666 0 0 10px;
                margin: 8px 0 0 40px;
              }

              &.before {
                text-align: center;
                margin: -49px 0 0 -43px;
              }

              &.after {
                text-align: left;
                margin: -49px 0 0 -43px;
                padding-left: 10px;

                a {
                  font-weight: bold;
                  text-decoration: none;
                  display: block;
                  padding: 4px 0 0 0;
                }

                .separator {
                  width: 105px;
                  background: rgba(255,255,255,0.4);
                  height: 1px;
                  box-shadow: #333 0 -1px 0;
                  margin: 7px 0 7px -10px;
                }

                .delete {
                  span {
                    &.ico {
                      color: #999;
                      font-size: 16px;
                      font-weight: bold;
                    }

                    &.action {
                      font-weight: bold;
                      cursor: pointer;
                    }
                  }
                }
              }
            }

            .icon {
              font: bold 25px Arial, Helvetica, sans-serif;
              color: #57addc;
              margin: -5px 0 0 0;
              cursor: pointer;

              &:hover {
                color: #333;
              }
            }
          }

          .title {
            margin: 0;
            padding: 0;
            float: none;
            font: bold 13px Arial, Helvetica, sans-serif;

            &:after {
              content: none;
            }

            a {
              text-decoration: none;
              border: none;
            }
          }

          .price {
            color: #666;
            margin: 0 0 10px;

            span {
              &.prefix { font-size: 10px }
              &.int { font: italic 17px Georgia }
            }
          }
        }
      }
      
      .sort-order-selector {
        width: 100%;
        margin: 0 0 40px 0;
        text-align: right;

        span.header {
          display: inline-block;
          padding-right: 10px;
          color: #333;
        }

        ul {
          display: inline-block;
          margin: 0 0 -8px 0;

          li {
            list-style: none;
            display: inline-block;
            margin: 0 20px;
            padding: 5px 20px;
            display: table-cell;
            background-color: #fafafa;
            border: 1px solid #ccc;
            cursor: pointer;
            color: #333;
            background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
            background-image: -webkit-linear-gradient(top, #ffffff, #ccc);
            background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
            background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
            *zoom: 1;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
               -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
                    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

            &.active {
              color: #555;
              cursor: default;
              text-decoration: none;
              background-color: #e5e5e5;
              background-image: none;
              -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.25);
                 -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.25);
                      box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.25);
            }

            &:first-of-type {
              border-top-left-radius: 15px;
              border-bottom-left-radius: 15px;
              border-right: none;
            }

            &:last-of-type {
              border-top-right-radius: 15px;
              border-bottom-right-radius: 15px;
              border-left: none;
            }
          }
        }
      }

    }
  } // #categories

  #side-banners { // TODO: DRY(!!!);
    width: 240px;
    float: left;

    div.sponsor, div.banner-240x400, div.banner-240-90, div.yacht-select-master, div.facebook {
      display: table;
      position: relative;
      border: 1px solid #ccc;
      width: 240px;
      margin-bottom: 16px;

      p {
        font: normal 14px Helvetica, arial, tahoma, sans-serif;
        color: #999;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }

    div.sponsor {
      height: 90px;
      border: none;
    }

    div.banner-240x400 {
      height: 400px;
    }

    div.banner-240-90 {
      height: 90px;
    }

    div.yacht-select-master {
      height: 90px;
    }

    div.facebook {
      height: 73px;
    }
  }

  #shipyards-teasers {
    width: 100%;
    clear: both;
    float: none;
    border-top: 1px solid #c9c9c9;
    padding: 20px 0 500px;

    .header {
      font: normal 14px 'InterstateCyr';
      text-transform: uppercase;
      color: #303030;
      width: 120px;
      background: #fff;
      text-align: center;
      margin: -28px auto 30px;
    }

    ul {
      li {
        list-style: none;
        float: left;
        margin-right: 18px;

        &:last-of-type {
          margin-right: 0;
        }

        .img {
          width: 126px;
          height: 91px;
          border-radius: 8px;
          overflow: hidden;
          box-shadow: #999 0 0 8px;
          text-align: center;
          vertical-align: middle;
          display: table-cell;

          img {
            position: relative;
          }
        }

        .title {
          font: bold 13px Arial, Helvetica, sans-serif;
          margin: 10px 0 3px 4px;
          
          a {
            color: #121212;
            text-decoration: none;

            &:hover {
              color: #57addc;
            }
          }
        }

        .country {
          font: normal 11px Arial, Helvetica, sans-serif;
          color: #b2aaaa;
          margin-left: 4px;
        }
      }
    }
  }
}