!!! 5
%html
  %head
    %title= "Sample Sinatra page"
    %link(rel="stylesheet" href="/stylesheets/application.css" media="screen" type="text/css")
    %script(type="application/javascript" src="/javascripts/application.js")
  %body
    %h2= "Hooray"

    .text= "Loong loong text"
