!!! 5
%html
  %head
    %title= "New catalog category"
    %link(rel="stylesheet" href="/stylesheets/pack.css" media="screen" type="text/css")
    %link(rel="stylesheet" href="/stylesheets/application.css" media="screen" type="text/css")
    %script(type="application/javascript" src="/javascripts/pack.js")
    %script(type="application/javascript" src="/javascripts/application.js")
  %body
    #itboat-fake-wrapper
      #text= "ok"