!!! 5
%html
  %head
    %title= "New catalog category"
    %link(rel="stylesheet" href="/stylesheets/application.css" media="screen" type="text/css")
    %script(type="application/javascript" src="/javascripts/application.js")
  %body
    %h1= "This is header"
    #test= "Software development industry is changing. It doesn’t need hackers anymore. It needs craftsmen who can configure and replace blocks of code when something stops working. Ideally, you should have in your team one Java expert who can actually understand the code of your application and can fix it not on the block level, but can drill down to a single line of the Java code. Somehow such people also know how to write a SQL outer joins, how to fix the broken build, and whatever else may come up"